^CRAN-RELEASE$
^.*\.Rproj$
^\.Rproj\.user$
^.*\.Rproj$
^.*\.gcda$
^.*\.gcno$
^submit\.sh$
^README\.Rmd$
^result$
^log$
^man/Figure$
^test$
^temp$
^man-roxygen$
^\.travis\.yml$
^README-.*\.png$
^appveyor\.yml$
^cran-comments\.md$
^README\.Rmd$
.Rproj.user
tests\
.Rhistory
*.png
*.nc
*.pdf
*.html
